# build output
dist/

# dependencies
node_modules/

# astro
.astro/

# environment variables
.env
.env.production

# macOS
.DS_Store
pnpm-lock.yaml

# package files (use global install)
package.json
package-lock.json
